.free__mind h2 {
    font-size: 2rem;
    text-align: left;
    padding: 2rem 0rem 0rem;
}

.free__mind h3 {
    font-size: 1.5rem;
    text-align: left;
    padding: 2rem 0rem 0rem;
    margin: 0rem 0rem -2rem 0rem;
}

.free__mind h4 {
    font-size: 1rem;
    text-align: left;
    font-weight: bold;
    padding: 2rem 1rem 0rem;
}

.free__mind p {
    font-size: 1rem;
    padding: 2rem 0rem 1rem;
}

.free__mind ol {
    font-size: 1rem;
    padding: 0.5rem 2rem 0rem;
}

.free__mind ul {
    font-size: 1rem;
    padding: 0.5rem 2rem 0rem;
}

.free__mind li {
    padding: 0rem 0rem 0.5rem;
}

.free__mind {
    text-align: left;
    color: #344054;
    background-color: #ffffff;
}

.extra__small__image {
    width: 40%;
    margin: 2rem auto;
    border-radius: 0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

.small__image {
    width: auto;
    margin: 2rem 1rem;
    border-radius: 0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

.medium__image {
    width: auto;
    margin: 2rem 1rem;
    border-radius: 0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
}

.medium__image__noshadow {
    width: auto;
    margin: 2rem 1rem;
    border-radius: 0rem;
}


.large__image__grid {
    width: auto;
    margin: 2rem 1rem;
    border-radius: 0rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.large__image__grid img {
    height: 80%;
    width: auto;
}

.logo {
    margin: 9rem auto 12rem;
    height: 80px;
}

.section__name {
    margin: 0rem 1rem 0rem 1rem;
    /* border-bottom: 2px solid #000000; */
}

.space {
    opacity: 0%;
}


.large__image,
.medium__image,
.medium__image__noshadow,
.small__image,
.extra__small__image {
    max-width: 100%;
}



@media only screen and (min-width: 1080px) {
    .project__container {
        padding: 0 10vw 20vh 10vw;
    }

    .free__mind h2 {
        padding: 2rem 0rem 0rem 0rem;
    }

    .free__mind h3 {
        padding: 2rem 12.5rem 0rem 0rem;
    }

    .free__mind h4 {
        padding: 2rem 12.5rem 0rem 0rem;
    }

    .free__mind p {
        padding: 2rem 0rem 1rem;
        /* width: 70vw; */
    }

    .free__mind ol {
        padding: 0.5rem 12.5rem 0.5rem 1.5rem;
    }

    .free__mind ul {
        padding: 0.5rem 12.5rem 0.5rem 1.5rem;
    }

    .free__mind li {
        margin: 0rem 0rem 0rem 0rem;
    }

    .free__mind .extra__small__image {
        width: 25%;
        margin: 2rem 0rem 2rem 0.5rem;
        border-radius: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);

    }

    .free__mind .small__image {
        width: 40%;
        margin: 2rem 50rem 2rem 0.5rem;
        border-radius: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
    }

    .free__mind .medium__image {
        width: 80%;
        margin: 2rem 50rem 2rem 0.5rem;
        border-radius: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
    }

    .free__mind .medium__image__noshadow {
        width: 80%;
        margin: 2rem 18rem 2rem 0.5rem;
        border-radius: 1rem;
    }

    .free__mind .large__image__grid {
        width: 70vw;
        margin: 0rem 0rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0);
    }

    .large__image__grid img {
        border-radius: 2rem;
    }

    .free__mind .section__name {
        margin: 5rem 12.5rem 0rem 0rem;
    }

    .free__mind .logo {
        width: auto;
        margin: 10rem 18rem 10rem 0.5rem;
    }
}